.select2-results__options {
    max-height: 350px !important;
}

.vakata-context {
     z-index:20000 !important;
}

.toggle {
    display: none;
}

.dynatable-pagination-links {
    margin-right: 0 !important;
}

.custom-menu {
    cursor: pointer;
    width: 10%;
    float: left;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10px;
}
.custom-menu div {
    width: 100%;
    height: 5px;
    background-color: #666666;
    margin: 6px 0;
    border-radius: 5px;
}

h4, h5 {
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    background-color: rgba(0,0,255,0.2) !important;
}

h5 {
    padding-top: 10px;
}

.btn-group {
    width: 100%;
}

.dynatable-processing {
    display: none !important;
}

body {
    background-color: #white;
}

label {
    margin-bottom: 0px;
}


.sidebar {
    background-color: #c4c4c4;
    z-index: 5000;
}

input.form-control {
    border: 1px solid #aaa;
    height: 32px;
}

.btn {
    color: black;
}